// Purple
$brand-link-color: #6A00D6;

// Gray text
$brand-default-text-color: #8D8D8D;

// Medium gray - small text
$brand-medium-text-color: #525252;

// Dark gray color
$brand-dark-text-color: #1E1E1E;

// Module text color
$brand-light-text-color: #FFF;

// Light gray background
$brand-light-background-color: #F5F5F5;

// Dark gray
$brand-dark-color: #1F1F1F;
$brand-dark-background-color: #1F1F1F;
