<!DOCTYPE html>

#parse ($init)

<html class="$root_css_class" dir="#language ("lang.dir")" lang="$w3c_language_id">

<head>
	<title>$the_title - $company_name</title>

	<meta content="initial-scale=1.0, width=device-width" name="viewport" />

	$theme.include($top_head_include)
</head>

<body class="$css_class">

#quick_access("#main-content")

$theme.include($body_top_include)

#product_menu_sidebar($liferay_product_menu_state)

#control_menu()
<div class="container-fluid" id="wrapper">
	<header id="banner" role="banner">
		<div id="heading">
			<h1 class="site-title">
				<a class="$logo_css_class" href="$site_default_url" title="#language_format ("go-to-x", [$site_name])">
					<img alt="$logo_description" height="$site_logo_height" src="$site_logo" width="$site_logo_width" />
				</a>

				#if ($show_site_name)
					<span class="site-name" title="#language_format ("go-to-x", [$site_name])">
						$site_name
					</span>
				#end
			</h1>
		</div>

		#if (!$is_signed_in)
			<a data-redirect="$is_login_redirect_required" href="$sign_in_url" id="sign-in" rel="nofollow">$sign_in_text</a>
		#end

		#if ($has_navigation && $is_setup_complete)
			#parse ("$full_templates_path/navigation.vm")
		#end
	</header>

	<section id="content">
		<h1 class="hide-accessible">$the_title</h1>

		<nav id="breadcrumbs">
			#breadcrumbs()
		</nav>

<!-- * *************************************************** -->

	<div class="col-no-padding jumbotron news-jumbotron">
		<div class="col-md-6">
			<div class="center-right" style="background-image: url($images_folder/content/background-01.jpg)">
				<h2 class="h1"><a href="#">Jony Ive taking new, more hands-off 'chief design officer' role at Apple</a></h2>
					<p class="text-uppercase">By <a href="#">Adi Robertson</a></p>
			</div>
		</div>
		<div class="col-md-6">
			<div class="top-right" style="background-image: url($images_folder/content/background-02.jpg)">
				<h2 class="h1"><a href="#">This inflatable plane could explore the clouds of Venus</a></h2>
					<p class="text-uppercase">By <a href="#">Adi Robertson</a></p>
			</div>
			<div class="bottom-right" style="background-image: url($images_folder/content/background-03.jpg)">
				<h2 class="h1"><a href="#">This inflatable plane could explore the clouds of Venus</a></h2>
					<p class="text-uppercase">By <a href="#">Russell Brando</a></p>
			</div>
		</div>
	</div>

	<div class="container-fluid-1280">
		<div class="well">
			<a href="#"><img alt="[Insert alternative description here]" class="center-block img-responsive" src="$images_folder/content/banner_970x90.png"></a>
			<p class="small">Advertisement</p>
		</div>
	</div>

	<!-- VIDEO CAROUSEL
		http://bootsnipp.com/snippets/featured/news-carousel
	-->
	<div class="container-fluid-1280">
		<div class="carousel col-no-padding slide vertical-carousel" data-ride="carousel" id="mainCarousel">

			<div class="carousel-inner">

				<div class="active item">
					<img  alt="[Insert alternative description here]" src="http://lorempixel.com/833/640">
					<div class="carousel-caption">
						<h2 class="h1"><a href="#">The high-tech baby gadgets of modern parenting</a></h2>
					</div>
				</div>
				<div class="item">
					<img  alt="[Insert alternative description here]" src="http://lorempixel.com/g/833/640">
					<div class="carousel-caption">
						<h2 class="h1"><a href="#">The terrifying fun of going 180 mph in an IndyCar</a></h2>
					</div>
				</div>
				<div class="item">
					<img  alt="[Insert alternative description here]" src="http://lorempixel.com/833/640">
					<div class="carousel-caption">
						<h2 class="h1"><a href="#">21 inspiring TED Fellows changing the world in 2015</a></h2>
					</div>
				</div>
				<div class="item">
					<img  alt="[Insert alternative description here]" src="http://lorempixel.com/g/833/640">
					<div class="carousel-caption">
						<h2 class="h1"><a href="#">21 inspiring TED Fellows changing the world in 2015</a></h2>
					</div>
				</div>

			</div><!-- End Carousel Inner -->

			<ul class="col-sm-4 list-group">
				<li class="active list-group-item" data-slide-to="0" data-target="#mainCarousel">
					<img alt="[Insert alternative description here]" src="http://lorempixel.com/g/68/68">
					<p>The high-tech baby gadgets of modern parenting</p>
				</li>
				<li class="list-group-item" data-slide-to="1" data-target="#mainCarousel">
					<img alt="[Insert alternative description here]" src="http://lorempixel.com/68/68">
					<p>A Canadian inventor has set a new Guinness World</p>
				</li>
				<li class="list-group-item" data-slide-to="2" data-target="#mainCarousel">
					<img alt="[Insert alternative description here]" src="http://lorempixel.com/g/68/68">
					<p>21 inspiring TED Fellows changing the world in 2015</p>
				</li>
				<li class="list-group-item" data-slide-to="3" data-target="#mainCarousel">
					<img  alt="[Insert alternative description here]" src="http://lorempixel.com/68/68">
					<p>21 inspiring TED Fellows changing the world in 2015</p>
				</li>
			</ul>

			<!-- Controls -->
			<div class="carousel-controls">
				<a class="carousel-control left" data-slide="prev" href="#mainCarousel">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</a>
				<a class="carousel-control right" data-slide="next" href="#mainCarousel">
					<span class="glyphicon glyphicon-chevron-right"></span>
				</a>
			</div>

		</div><!-- End Carousel -->

		<script type="text/javascript" charset="utf-8">
			$(document).ready(function(){

				var clickEvent = false;
				$('#mainCarousel').carousel({
					interval:   4000
				}).on('click', '.list-group li', function() {
						clickEvent = true;
						$('.list-group li').removeClass('active');
						$(this).addClass('active');
				}).on('slid.bs.carousel', function(e) {
					if (!clickEvent) {
						var count = $('.list-group').children().length -1;
						var current = $('.list-group li.active');
						current.removeClass('active').next().addClass('active');
						var id = parseInt(current.data('slide-to'));
						if (count == id) {
							$('.list-group li').first().addClass('active');
						}
					}
					clickEvent = false;
				});
			});

			$(window).load(function() {
				var boxheight = $('#mainCarousel .carousel-inner').innerHeight();
				var itemlength = $('#mainCarousel .item').length;
				var triggerheight = Math.round(boxheight/itemlength+1);
				$('#mainCarousel .list-group-item').outerHeight(triggerheight);
			});
		</script>

	</div>

	<section class="container-fluid-1280">

		<div class="col-md-8">
			<div class="col-md-6">
				<img alt="[Insert alternative description here]" class="center-block img-responsive" src="$images_folder/content/370x200.png" />
				<h2><a href="#">Sure, let's put 'meme' in the dictionary, but call us when they add dank memes</a></h2>
				<p class="text-info text-uppercase"><a href="#">James Vincent</a> May 26</p>
				<p>Merriam-Webster has had, in its own words, a bit of a growth spurt, adding a clutch of new words to its unabridged dictionary. These include some genuinely great entries ("colossal squid" is the perfect.</p>
			</div>
			<div class="col-md-6">
				<img alt="[Insert alternative description here]" class="center-block img-responsive" src="$images_folder/content/370x200.png" />
				<h2><a href="#">Man breaks Guinness hoverboard record after standing on a drone</a></h2>
				<p class="text-info text-uppercase"><a href="#">James Vincent</a> May 26</p>
				<p>A Canadian inventor has set a new Guinness World Record for the farthest hoverboard flight, thanks to a homemade contraption that looks nothing like Marty McFly's ride of choice. The engineer, Catalin.</p>
			</div>
			<div class="clearfix visible-lg-block visible-md-block"></div>
			<div class="col-md-6">
				<img alt="[Insert alternative description here]" class="center-block img-responsive" src="$images_folder/content/370x200.png" />
				<h2><a href="#">Sure, let's put 'meme' in the dictionary, but call us when they add dank memes</a></h2>
				<p class="text-info text-uppercase"><a href="#">James Vincent</a> May 26</p>
				<p>Merriam-Webster has had, in its own words, a bit of a growth spurt, adding a clutch of new words to its unabridged dictionary. These include some genuinely great entries ("colossal squid" is the perfect.</p>
			</div>
			<div class="col-md-6">
				<div class="well">
					<span class="user-icon user-icon-xl"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></span>
					<h2 class="text-center text-uppercase">Trending discussions</h2>

					<p>May 27, 2015</p>
					<h3>Millennials to Snake People is a Cloud to Butt whose time has come</h3>
					<p class="text-uppercase">By James Vincent</p>

					<p>May 27, 2015</p>
					<h3>Confused by the FIFA corruption news? John Oliver explained it last</h3>
					<p class="text-uppercase">By Marcos Castro</p>

					<p>May 27, 2015</p>
					<h3>Confused by the FIFA corruption news? John Oliver explained it last</h3>
					<p class="text-uppercase">By Iván Morote</p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="well">
				<a href="#"><img alt="[Insert alternative description here]" class="center-block img-responsive" src="$images_folder/content/370x200.png" /></a>
				<p class="small">Advertisement</p>
			</div>

			<img alt="[Insert alternative description here]" class="center-block img-responsive" src="$images_folder/content/370x200.png" />
			<h2><a href="#">Sure, let's put 'meme' in the dictionary, but call us when they add dank memes</a></h2>
			<p class="text-info text-uppercase"><a href="#">James Vincent</a> MAY 26</p>
			<p>The Mailbox team can’t say it wasn’t warned. Back when co-founder Gentry Underwood was raising money to build the app that would become Mailbox, investors tried to urge him away.</p>

		</div>

	</section>

	<section class="container-fluid-1280">
		<div class="col-md-3">
			<img alt="[Insert alternative description here]" class="center-block img-responsive" src="$images_folder/content/370x200.png" />
			<h2><a href="#">Uber reveals plans for a giant glass headquarters in San Francisco</a></h2>
			<p class="text-info text-uppercase"><a href="#">James Vincent</a> MAY 26</p>
			<p>It's a rite of passage for so many tech companies: building their first wildly ambitious, kind of ridiculous, and generally stunning headquarters to accommodate a ballooning headcount as growth explodes....</p>
		</div>
		<div class="col-md-3">
			<div class="figure">
				<img alt="[Insert alternative description here]" class="img-responsive" src="$images_folder/content/282x148_01.jpg">
				<div class="figcaption-full">
					<div class="flex-container">
						<div class="flex-item-bottom">
							<h2><a href="#">World Cup sponsor logos redesigned to protest.</a></h2>
						</div>
					</div>
				</div>
			</div>
			<div class="figure">
				<img alt="[Insert alternative description here]" class="img-responsive" src="$images_folder/content/282x148_02.jpg">
				<div class="figcaption-full">
					<div class="flex-container">
						<div class="flex-item-bottom">
							<h2><a href="#">Carajillo strong, grounds redeye half and half so percolator.</a></h2>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="figure">
				<img alt="[Insert alternative description here]" class="img-responsive" src="$images_folder/content/595x312.jpg">
				<div class="figcaption-full">
					<div class="flex-container">
						<div class="flex-item-bottom">
							<h2><a href="#">The debate on lethal robots is starting too late</a></h2>
							<p class="text-uppercase">By <a href="">Frank Maruhender</a></p>
						</div>
					</div>
				</div>
			</div>
			<div class="figure">
				<img alt="[Insert alternative description here]" class="img-responsive" src="$images_folder/content/595x312.jpg">
				<div class="figcaption-full">
					<div class="flex-container">
						<div class="flex-item-bottom">
							<h2><a href="#">Uber reveals plans for a giant glass headquarters in San Francisco</a></h2>
							<p class="text-uppercase">By <a href="">Brad Sayers</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>

	<div class="container-fluid-1280">
		<a class="btn btn-block btn-lg btn-primary btn-theme-primary">See all news</a>
	</div>
<!-- * *************************************************** -->

		#if ($selectable)
			$theme.include($content_include)
		#else
			$portletDisplay.recycle()

			$portletDisplay.setTitle($the_title)

			$theme.wrapPortlet("portlet.vm", $content_include)
		#end
	</section>

	#parse ("$full_templates_path/footer.vm")

</div>

$theme.include($body_bottom_include)

$theme.include($bottom_include)

</body>

</html>