#footer {
	background-color: $brand-dark-background-color;
	color: $brand-light-text-color;
	padding-bottom: 70px;
	padding-top: 70px;

	a {
		color: rgba($brand-light-text-color, 0.4);
	}

	label {
		color: $brand-light-text-color;
	}

	.form-control.small {
		font-size: 85%;
	}
}

#footer-logo {
	margin-bottom: 20px;
	opacity: 0.3;
}