@import "partials/layout";
@import "partials/navbar";
@import "partials/footer";

@import "partials/buttons";
@import "partials/forms";

// COMMON

// Dark header links

/*.col-md-6 h2 a {
	&, &:hover, &:focus {
		color: $brand-dark-color;
	}
}*/

.brand-background-color {
	background-color: $brand-dark-background-color;

	a, .h1, .h6 {
		color: $brand-light-text-color;
	}
}

// SMALL TEXT ARTICLES

.text-info.text-uppercase {
	color: $brand-dark-text-color;
	font-size: 14px;

	a {
		color: $brand-link-color;
	}
}

//  WELLS

.well {
	background-color: $brand-light-background-color;
	border-radius: 0;
	border-width: 0;
	box-shadow: none;
	position: relative;

	.user-icon.user-icon-xl {
		background-color: $brand-link-color;
		color: $brand-light-text-color;
		left: 50%;
		position: absolute;
		top: 0;
		transform: translate(-50%, -50%);
	}

	.glyphicon  {
		top: 3px;
		left: 1px;
	}
}

//  JUMBOTRON

.container-fluid .jumbotron {
	background-color: $brand-dark-background-color;
	border-radius: 0;
	overflow: hidden;
	padding: 0;

	.h1 {
		font-size: 40px;
	}

	[class*="col-"] {
		background-repeat: no-repeat;
		background-size: cover;
		overflow: hidden;
		position: relative;

		.wrap {
			height: 100%;
			overflow: hidden;
			@include background-image(linear-gradient(transparent 0, $brand-dark-background-color 100%));

		}
	}

	&, a {
		color: $brand-light-text-color;
	}

	&.two-blocks-jumbotron {

		.col-md-6 {

			> div {
			}
		}
	}

	&.three-blocks-jumbotron {

		.col-md-6 {
			/*display: table-cell;
			float: none;

			> div {
				height: 100%
			}*/
		}
		.center-left {
			// TABLET
			@include media-query(sm, $screen-sm-max) {
				outline: 1px solid red;
				display: table-cell;
				float: none;

				> div {
					height: 100%
				}
			}
			// only screen and (min-width: 768px) DESKTOP, TABLET
			@include sm {

			}

		}
	}
}

// FIGURES

.figure {
	margin-bottom: 0;

	&, a {
		color: $brand-light-text-color;
	}

	.figcaption-full {
		background-color: transparent;
		@include background-image(linear-gradient(transparent 0, #1E1E1E 100%));
	}

	.flex-container {
		height: 100%;
	}
}

// VIDEO CAROUSEL

.vertical-carousel {
	background-color: $brand-dark-background-color;
	margin-bottom: 30px;
	overflow: hidden;

	&, & a {
		color: $brand-light-text-color;
	}

	.carousel-caption {
		bottom: 0;
		left: 0;
		padding: 50px;
		right: 0;
		text-align: left;
		text-shadow: none;

		.h1 {
			font-size: 40px;
		}
	}

	.item:after {
		bottom: 0;
		content: " ";
		display: block;
		height: 50%;
		left: 0;
		position: absolute;
		right: 0;

		@include background-image(linear-gradient(transparent 0, $brand-dark-background-color 100%));
	}

	.list-group {
		position: absolute;
		right: 0;
		top: 0;
	}

	.list-group-item {
		background-color: $brand-dark-background-color;
		border-radius: 0;
		cursor: pointer;
		padding-top: 40px;
		position: relative;

		> img {
			height: 68px;
			left: 30px;
			position: absolute;
			top: 40px;
			width: 68px;
		}

		p {
			margin-left: 100px;
		}

		&.active, &.active:hover, &.active:focus {
			border-color: $brand-link-color;
		}
	}

	@media (min-width: 992px) {
		& {
			padding-right: 33.3333%;
		}

		& .carousel-controls {
			display: none;
		}
	}

	@media (max-width: 991px) {
		& .list-group {
			display: none;
		}
	}
}

// PHOTO CAROUSEL

#photo-carousel {

	.thumbnail {
		border-radius: 0;
		border-width: 0;
		margin-bottom: 15px;
		padding: 0;
		position: relative;

		h3 {
			bottom: 0;
			padding: 0 30px 15px;
			position: absolute;
		}

		&:before {
			bottom: 0;
			content: " ";
			display: block;
			height: 50%;
			position: absolute;
			width: 100%;

			@include background-image(linear-gradient(transparent 0, $brand-dark-background-color 100%));
		}
	}

	p.small {
		color: rgba($brand-light-text-color, 0.4);
	}

	.carousel-control {
		background-color: rgba($brand-light-text-color, 0.5);
		background-image: none;
		border-radius: 50%;
		bottom: auto;
		font-size: 40px;
		font-family: 'fontawesome-alloy';
		height: 68px;
		line-height: 62px;
		opacity: 1;
		text-shadow: none;
		width: 68px;
		transform: translate(-50%, -50%);
		top: 50%;

		&.right {
			transform: translate(50%, -50%);
		}
	}
}

// NEWS TICKER

#news-ticker {
	.text-uppercase {
		color: $brand-light-text-color;
	}

}

